label {
  display: block;
}

/*This class exists to allow users to cross things out in a list (see ShoppingList view)*/
.checked {
  text-decoration:line-through;
}

#hide {
  display: none;
}

#show {
  display: inline;
}